$negro: #111111;
$blanco: #FEFEFE;
$grisOscuro: #222222;
$grisClaro: #C8C8C8;
$grisClaroHover: #ACABAB;
$azul: #3E60E9;
$azulHover: #254BE6;
$rojo: #e74545;
$naranjaneon: #ffa43a;
$verdeneon: #20c67a;
$transparentwhite: #ffffffcc;
$azulneon: #f0376e;
$transparente: #2c2828f2;
$plomo: #808080;
$amarilloneon: #fec859;
$sombraDark: 10px 10px 20px rgba(170,170,170,.16);
$sombraLight: 10px 10px 20px rgba(0,0,0,.16);
::-webkit-scrollbar {
  width: 10px;
  height: 1px;
}
::-webkit-scrollbar-thumb {
  background: $plomo;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: $amarilloneon;
}